/* @font-face {
  font-family: Montreal;
  src: url(/fonts/Montreal-Regular.woff);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montreal", sans-serif;
  overflow-x: hidden;
}

/* header navbar */
.header-main {
  position: fixed;
  top: 0px;
  background-color: transparent;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}
.header-main.hidden {
  top: -100px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: 100%;
  padding: 10px 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}

.logo {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: 2px solid #001f4b;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: #001f4b;
  color: #001f4b;
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: #001f4b;
}

.nav-links > ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: normal;
  color: white;
  padding: 0 0.9rem;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  /* transform: scale(1.01); */
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 15px;
  width: 10.5rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdown-link:hover > a {
  background-color: #001f4b;
  color: white;
}

.dropdown-link:not(:nth-last-child(2)) {
  /* border-bottom: 1px solid black; */
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: white;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: #001f4b;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 0rem);
    top: 0rem;
    left: 0;
    width: 100%;
    background-color: #001f4b;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
    padding-top: 7rem;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    font-size: 3vw;
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    /* background-color: white; */
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: white;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: transparent;
    color: black;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #001f4b;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  .nav-link:hover .arrow {
    background-color: #1c6758;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover > a {
    background-color: #001f4b;
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: #001f4b;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: 0.7s;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }
}

/* navbar ends */
/* swiper slider */
.swiper-container {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  background-color: #fcfcfc;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
  font-size: 24px;
}

.swiper-slide > .swiper-slide-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent no-repeat 50% 50% / cover;
}

.swiper-slide .slide-01 {
  background-image: url(/images/Main_header_img.png);
  transform-origin: 50% 50%;
}

.swiper-slide .slide-02 {
  background-image: url(https://martin-kovacs.com/wp-content/uploads/2024/02/slide-07-2048.jpg);
  transform-origin: 50% 50%;
}

.swiper-slide .slide-03 {
  background-image: url(https://martin-kovacs.com/wp-content/uploads/2024/02/slide-05-2048.jpg);
  transform-origin: 50% 50%;
}

.swiper-slide .slide-04 {
  background-image: url(https://martin-kovacs.com/wp-content/uploads/2024/02/slide-07-2048.jpg);
  transform-origin: 50% 50%;
}

.swiper-scale-effect .swiper-slide-cover {
  transition-timing-function: linear;
  transition-duration: 20s;
  transform: scale(1);
}

.swiper-scale-effect .swiper-slide.swiper-slide-active .swiper-slide-cover {
  transform: scale(1.3);
}

:root {
  --swiper-pagination-bottom: 40px;
  --swiper-theme-color: #f49023 !important;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #f49023;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #f49023;
}

.swiper-button-prev,
.swiper-button-next {
  background: transparent;
  opacity: 0.55;
  --swiper-navigation-color: rgba(252, 252, 252, 0.85);
  transition: opacity 0.3s ease, color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: transparent;
  opacity: 0.85;
  --swiper-navigation-color: #fcfcfc;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  right: 7%;
  top: 70%;
}

/* .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px)) !important;
    box-shadow: inset 1px 1px 1px rgba(38, 38, 38, 0.85);
    background: var(--swiper-pagination-bullet-inactive-color, rgba(252, 252, 252, 0.85)) !important;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.55) !important;
    --swiper-pagination-bullet-horizontal-gap: 6px;
  }
  .swiper-pagination-bullet-active {
    box-shadow: inset 1px 1px 1px rgba(38, 38, 38, 0.85);
    background: var(--swiper-pagination-bullet-active-color, rgba(252, 252, 252, 0.85)) !important;
    opacity: var(--swiper-pagination-bullet-active-opacity, 0.85) !important;
    --swiper-pagination-bullet-horizontal-gap: 10px;
  } */

.con {
  position: relative;
  width: 100%;
  height: 100%;
}

.port_video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  cursor: pointer;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.overlay:hover .play-icon,
.overlay:hover .pause-icon {
  opacity: 1;
}
.play-icon,
.pause-icon {
  width: 100px;
  height: 100px;
  fill: #ffffffa6;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.pause-icon {
  display: none;
}

.text {
  position: absolute;
  bottom: 50px;
  left: 6%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.textVideo1 {
  font-size: 40px;
}

.video_text1 {
  width: 65%;
  color: #f49023;
}
.video_text2 {
  padding-top: 0.8rem;
  width: 55%;
  color: #fff;
}
/* swiper  */
/* cards swiper */
.contact_bg {
  background-color: #c6c6c6;
}
.cards-swiper{
  padding: 50px 50px;
  background-color: #c6c6c6;
}
.cards-swiper swiper-container {
  width: 100%;
  height: 100%;
}

.cards-swiper swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-swiper swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper_cards_inner {
  text-align: left;
  padding: 30px 20px;
  background-color: white;
}
.swiper-text1 {
  color: #8e8e8e;
  padding: 10px 0;
}
.swiper-text2 {
  padding: 20px 0;
  color: #001f4b;
  font-size: 25px;
}
.swiper-text3 {
  color: #414141;
}
/* contact us  */

.containerc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.centered-section {
  background-color: #001f4b;
  width: 40%;
  padding: 50px;
  text-align: center;
  margin-bottom: -70px;
}

.centered-section p {
  color: white;
  font-size: 1.5em;
  margin: 0 0 20px 0;
}

.centered-section button {
  background-color: #f49023; /* Orange color */
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
}

.centered-section button:hover {
  background-color: #e07b00;
  color: white;
}

/* footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 144px 0 20px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 50px;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}
.footer-section .social {
  margin-top: 175px;
}

.footer-section:nth-child(-n + 4) {
  border-right: 1px solid #717171;
}

.footer-section h4 {
  margin-bottom: 10px;
  color: #f49023;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  /* letter-spacing: 0.15em; */
  display: inline;
  padding: 4px 4px;
  position: relative;
}

/* .footer-section ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
*/
.footer-section ul li a:hover {
transform: translateY(-10px) !important;
} 

.footer-section.contact p,
.footer-section.contact a {
  margin: 10px 0;
  display: block;
  color: #fff;
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}
.footer-section.social {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex-direction: column; */
  margin: 10px 0 0 0;
}
.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.containerShipOuter {
  height: 100%;
  width: 100%;
  position: relative;
}

.containerShip {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.timeLineTextOuter {
  width: 23%;
  position: absolute;
  left: 11rem;
  top: 18rem;
}

.timeLineHeading {
  font-size: 36px;
  color: white;
  font-weight: 400;
}

.timeLineText {
  color: rgba(244, 144, 35, 1);
  font-size: 38px;
  font-weight: 700;
}

.timeLineYearOuterLeft {
  position: absolute;
  left: 18rem;
  border-bottom: 2px solid rgba(100, 156, 236, 1);
  padding-bottom: 14px;
}

.timelineYear {
  font-size: 48px;
  width: fit-content;
  color: rgba(107, 163, 243, 1);
}
.timelineYearText {
  text-align: left;
  font-size: 20px;
  color: white;
}

.timeLineYearOuterRight {
  position: absolute;
  border-bottom: 2px solid rgba(100, 156, 236, 1);
  padding-bottom: 14px;
  right: 18rem;
}

.one {
  top: 37rem;
  width: 16%;
}

.two {
  top: 55rem;
  width: 17%;
}

.three {
  top: 77rem;
  width: 16%;
}

.four {
  top: 93rem;
  width: 17%;
}

.BannerTextOuter{
  position: absolute;
  z-index: 2;
  width: 30%;
  bottom: 4rem;
  left: 5rem;
}

.BannerText{
font-size: 62px;
}

.BannerTextOuterTwo{

    position: absolute;
    z-index: 2;
    width: 35%;
    bottom: 4rem;
    left: 5rem;

}

.BannerTextOuterFour{
  position: absolute;
    z-index: 2;
    width: 46%;
    bottom: 4rem;
    left: 5rem;
}


.swiper-wrapper{
  display: flex !important;
}





@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    margin: 20px 0;
  }

  .social-icons {
    justify-content: center;
  }
}
